.my-bg {
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
}

.my-nav {
    background-color: deepskyblue;
}

.my-top {
    margin-top: 5px;
}

.my-height {
    padding-top: 5px;
}

.my-bottom {
    margin-bottom: 5px;
}

.my-padding {
    padding: 15px;
}

.my-write {
    background-color: #fff;
}

.my-white-color {
    color: #fff;
}

.my-img {
    height: 230px;
}

.my-img img {
    width: 100%;
}

.my-table {
    position: relative;
    height: 100px;
    border-bottom: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    color: #000;
    background-color: #fff;
}

.my-table:hover {
    background-color: #f9f9f9;
}

.my-server {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

.my-blue {
    background-color: #00b3ee;
}

.my-green {
    background-color: crimson;
}

.my-red {
    background-color: sandybrown;
}

.my-purple {
    background-color: mediumpurple;
}

.my-blue-green {
    background-color: lightgreen;
}

.my-gray {
    background-color: gray;
}

.my-yellow {
    background-color: lightcyan;
}

.my-pink {
    background-color: lightpink;
}

.my-left {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -10px;
}

.my-right {
    position: absolute;
    top: 8px;
    right: 50%;
    margin-right: -10px;
}

.my-text-right {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -44px;
}

.my-text-left {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -44px;
}
.my-side-bar {
    position: absolute;
    bottom: 0;
    left: -170px;
    padding-top: 35px;
    padding-left: 15px;
    z-index: 1;
}
.my-nav-padding {
    padding: 0 15px;
}
.my-logo-padding {
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
}
.my-sidebar-bottom {
    position: absolute;
    bottom: 20px;
}
.my-setting-padding {
    padding-left: 30px;
}

.body {
    background-color: #f6f6f6;
    overflow-x: hidden;
}

.btn-top {
    margin-top: 70px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -27px;
}

.header li {
    margin-top: 30px;
    color: #fff
}

.middle {
    padding-top: 15px;
}

.list {
    background-color: #fff;
    margin-top: 5px;
    padding: 15px 0;
}

.hu-room {
    margin-top: 90px;
}

.hu-button {
    margin-top: 150px;
}

.design {
    margin-top: 50px;
}

.time{
    margin-top: 40px;
}

.pay{
    margin-top: 90px;
}

.buttonOne{
    margin-top: 40px;
    margin-left: 150px;
}
.buttonTwo{
    margin-top:100px;
    margin-left: 130px;
    background-color:#46b8da;
}

#content input[type="text"],
#content input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}

#content input[type="text"]:focus,
#content input[type="password"]:focus {
    -webkit-box-shadow: 0 0 5px deepskyblue;
    -moz-box-shadow: 0 0 5px deepskyblue;
    -ms-box-shadow: 0 0 5px deepskyblue;
    -o-box-shadow: 0 0 5px deepskyblue;
    box-shadow: 0 0 5px deepskyblue;
    background-color: #fff;
    /*border: 1px solid deepskyblue;*/
    outline: none;
}

#username {
    background-position: 10px 10px !important
}

#password {
    background-position: 10px -53px !important
}

#content input[type="submit"] {
    background: deepskyblue;
    background: -moz-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: -webkit-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: -o-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: -ms-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    /*-webkit-box-shadow: 0 1px 0 deepskyblue inset;*/
    /*-moz-box-shadow: 0 1px 0 deepskyblue inset;*/
    /*-ms-box-shadow: 0 1px 0 deepskyblue inset;*/
    /*-o-box-shadow: 0 1px 0 deepskyblue inset;*/
    /*box-shadow: 0 1px 0 deepskyblue inset;*/
    border: 1px solid #00b3ee;
    color: #fff;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}

#content input[type="submit"]:hover {
    background: deepskyblue;
    background: -moz-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: -webkit-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: -o-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: -ms-linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    background: linear-gradient(top, deepskyblue 0%, #00b3ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}

.form-4 {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: black;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

#form-4 h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

#form-4 input[type="text"],
#form-4 input[type="password"] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78, 48, 67, 0.8);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: black;
    font-size: 13px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

#form-4 input::-webkit-input-placeholder {
    color: rgba(37, 21, 26, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

#form-4 input:-moz-placeholder {
    color: rgba(37, 21, 26, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

#form-4 input:-ms-input-placeholder {
    color: rgba(37, 21, 26, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

#form-4 input[type="text"]:hover,
#form-4 input[type="password"]:hover {
    border-color: #333;
}

#form-4 input[type="text"]:focus,
#form-4 input[type="password"]:focus,
#form-4 input[type="submit"]:focus {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(255, 255, 255, 0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow #form-4 input[type="text"]:focus,
.no-boxshadow #form-4 input[type="password"]:focus {
    outline: 1px solid white;
}

#form-4 input[type="submit"] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;

    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
    background: -ms-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
    background: -o-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99, 64, 86, 0.5)), to(rgba(76, 49, 65, 0.7)));
    background: -webkit-linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
    background: linear-gradient(rgba(99, 64, 86, 0.5), rgba(76, 49, 65, 0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

#form-4 input[type="submit"]:hover {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2),
    inset 0 20px 30px rgba(99, 64, 86, 0.5);
}

/* Fallback */
.no-boxshadow #form-4 input[type=submit]:hover {
    background: #594642;
}

#form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

#form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder #form-4 label {
    display: block;
}

.container > header h1,
.container > header h2 {
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

#form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

#form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder #form-4 label {
    display: block;
}

.success h3 {
    color: #00b3ee;
    margin-top: 50px;
}

.send {
    margin-top: 50px;
    font-size: 1.4em;
    color: #31b0d5;
}

.time {
    margin-top: 40px;
}

.image img{
    background-size: cover;
    width: 100%;
    height: 200px;
}

